.navHeader {
    width: 100%;
    margin-top: 25vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.innerNav {
    text-decoration: none;
    display: flex;
}
.site-title{
    text-decoration: none;
    color: #aaa;
    font-size: 32px;
    border: solid transparent;
    transition-duration: .1s;
}
.site-title:Hover {
    border-bottom: solid;
    color: black;
}

.links {
    list-style: none;
    font-size: 24px;
}

.links a {
    text-decoration: none;
    color: #aaa;
    margin: 10px;
    justify-content: space-evenly;
    border: solid transparent;
    transition-duration: .1s;
}

.links a:Hover {
    border-bottom: solid;
    color: black;
}